.header-class{
    margin-top: -8px;
    margin-right: 15px;
    margin-left: -279px;
    height: 103px;
    width: -18px;
    margin-bottom: -8px;
}
.name-class{
    position: absolute;
    margin-top: -92px;
    margin-left: 46px;
}
.logo-class{
    position: absolute;
    top: 40px;
    margin-left: 1244px;
}
.bottom-class{
    margin-top: -4px;
    margin-left: -14px;
}
.body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-class{
    margin-top: -682px;
    margin-left: 102px;
    font-size: 32px;
}
.heading-class h1{
    margin-top: -682px;
    margin-left: 102px;
    font-size: 32px;
}

.carousel {
    position: absolute;
    margin-left: -16px;
}
.carusel-inner{
    margin-top: -10px;
}

.body{
color: #666;
font-size: 14px;
font-family: Raleway,sans-serif;
line-height: 1.80857;
font-weight: 400;
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 9999999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}
.sidepanel a.active {
    color: #f3cf2d;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: .3s;
}
.full_bg {
    background: url("./images/banner1.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    width: 100%;
    height: 104px;
    padding: 20px 25px;
    position: fixed;
    z-index: 9;
    background: url("./images/header.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.text_align_right {
    text-align: right;
}
ul.site_menu li {
    display: inline-block;
    padding-left: 58px;
}
.openbtn {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}
.banner_main {
    position: relative;
    padding-bottom: 212px;
}
.carousel {
    position: relative;
}
.banner .carousel-indicators {
    display: none;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main-heading{
    font-size: 2.5rem;
    margin-top: -700px;
    margin-left: 86px;
}
.span-class{
    font-size: 64px;
    margin-left: -57px;
    color: white;
}
.btn-dark{
    margin-left: 90px;
    font-size: 20px;
}
.strong-class{
    margin-left: 915px;
    background: black;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    height: 42px;
    margin-top: -44px;
    width: 84px;
}
.lorem-class{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 36px;
}
.sign-class{
    margin-left: 143px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}
.sing-class1{
    width: 55px;
    height: 55px;
    border: #fff solid 2px;
    opacity: 1;
    font-size: 25px;
    color: #fff;
    top: 101%;
    border-radius: 40px;
}
.carousel-control-next-icon{
  margin-left: 15px;
    margin-top: 15px;
}  
.sing-class1:hover{
    background: #111;
}
.sign-class2{
    width: 55px;
    height: 55px;
    border: #fff solid 2px;
    opacity: 1;
    font-size: 25px;
    color: #fff;
    top: 101%;
    border-radius: 40px;
}
.carousel-control-prev-icon{
    margin-left: 15px;
      margin-top: 15px;
}
.sign-class2:hover{
    background: #111;
}
.bg-about {
    background: url("./images/bg_about.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -102px;
}
.midd-img{
    margin-left: -10px;
    border-radius: 100%;
    border: #f6dc67ab solid 35px;
    opacity: 1;
}
.about-class{
    font-size: 2rem;
    margin-left: 214px;
    margin-top: 50px;
}
.peragraph-class{
    margin-bottom: 1rem;
    margin-left: 536px;
    margin-top: -463px;
    font-size: 23px;
    padding: 36px 135px;
}
.about-class{
    font-size: 2rem;
    margin-left: 214px;
    margin-top: -92px;
}
.about .titlepage .read_more {
    text-transform: uppercase;
    font-weight: 400;
}
.read_more {
    font-size: 17px;
    background-color: #030303;
    color: #fff;
    padding: 16px 0;
    width: 100%;
    max-width: 210px;
    text-align: center;
    display: inline-block;
    transition: ease-in all .5s;
    font-weight: 500;
    text-transform: uppercase;
}
.titlepage-about {
}
.about-btn{
    width: 162px;
    margin-left: 356px;
 background: #030303;
    border-radius: 0px;
}
.about-btn:hover{
    background-color:#f4d443;
}
.container{
    max-width: 1170px;
    display: flex;
    justify-content: space-evenly;
}
.row-class{
    padding-top: 69px;
    background: black;
    color: antiquewhite;
    padding-bottom: 44px;
}
.banner_pro {
    position: inherit;
    padding: 0;
}
.row-section{
    width: 1357px;
    height: 400px;
    position: relative;
    display: block;
    padding: 1rem;
}
  .row-section::before{
    content:"";
          background-image: url(./images/contact_bg.jpg);
   opacity:0.;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:auto;
    height: 825px;;
    z-index:-3;
  }
  .row-section h3{
    text-align:center;
    font-size:49px;
  }
  .bg-yellow{
    background: #f3cf2d;
    padding: 67px 0;
  }
  .col-md-12{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 125%;
    width: 1200px;
  }
  .form-control{
        margin-left: 29px;
        display: block;
        width: 94%;
        padding: 1.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .submit-btn{
    margin-left: 454px;
    width: 230px;
    margin-top: 24px;
    background: black;
    height: 69px;
  }
  .submit-btn:hover{
    background-color: #ced4da;
    color: #030303;
  }
  .discruption-class{
    margin-left: 34px;
    width: 1090px;
    height: 138px;
    border-radius: -15.75rem;
    padding: 1.375rem 0.75rem;
    margin-top: 11px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.footer{
    background: #212120;
    margin-top: 371px;
    text-align: center;
}
.news{
    padding-bottom: 25px;
}
.news h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #fff;
    padding-bottom: 32px;
    margin-left: 318px;
    padding-top: 37px;
}
.col-md-4 {
    background: #F4D443;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 48px;
}
.image-class{
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
.See-mote{
    padding-left: 16px;
    background: #fff;
    color: black;
    width: 191px;
    margin-left: 18px;
    height: 65px;
}
.See-mote:hover{
    background-color: #F4D443;
    color: white;
}
.form-inline{
display: flex;
justify-content: end;
flex-wrap: nowrap;
}
.submit-class{
    background: #f3cf2d;
    border: none;
    width: 153px;
    height: 50px;
    color: #fff;
}
.submit-class :hover{
    background-color: gray;
    color: #030303;
}
.enter-name{
    height: 50px;
    width: 593px;
    padding: 23px 58px;
    margin-left: -121px;
}
.footer-class{
    display: flex;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 23px;
}
.social-icons{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    margin-top: 22px;
    font-size: 31px;
    margin-left: 294px;;
}
.social-icons :hover{
    color:#f3cf2d ;
}
.col-md-9 hr{
    color: #ffff;
}  
.end-class{
    color: #fff;
    margin-left: 5px;
}
.enter-class{
    margin-left: 462px;
}
.offset-md-1{
margin-left: 13.333333%;
}
.btn-class{
    
}